
@{
    ViewData["Title"] = "OTP";
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="img">
						<img class="img-fluid" src="~/image/otp.jpg" style="height:100%;" />
					</div>
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">
							<div class="w-100">
								<h5 class="mb-4">OTP Varification</h5>
							</div>
							<div class="w-100">
								<p class="social-media d-flex justify-content-end">
									<a class="social-icon d-flex align-items-center justify-content-center">
										<span class="fa fa-facebook"></span>
									</a>
									<a class="social-icon d-flex align-items-center justify-content-center">
										<span class="fa fa-twitter"></span>
									</a>
								</p>
							</div>
						</div>
						<form action="#" class="signin-form">
							<div class="form-group mb-3">
								<input type="text"
									   class="form-control"
									   placeholder="OTP"
									   required />
									   <span class="text-warning">Please check your email for OTP...</span>
							</div>
							<div class="form-group">
								<button type="submit"
										class="form-control btn btn-primary rounded submit px-3">
									Submit
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

